@import "./../node_modules/mdi/css/materialdesignicons.css";

body {
  margin: 0;
  background-color: #EBEBEB;
}

* {
  font-family: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif;
}
